@model IEnumerable<Pretest03WebApp.Models.TbNews>
@{
    ViewBag.Title = "Index";
}
<h2>News</h2>
<h3>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</h3>
<h3>
    <a asp-action="Delete" class="btn btn-danger">Delete News</a>
</h3>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Content</th>
        <th>Date of Publish</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.NewsId</td>
            <td>@item.NewsContent</td>
            <td>@item.DateOfPublish</td>
        </tr>
    }
</table>